#SetEnv APPLICATION_PATH "/home/akopov/webapps/patientrfid"
SetEnv APPLICATION_URL  "http://patientrfid"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

Options -Indexes